body{
  background-image: url("https://images.unsplash.com/photo-1489648022186-8f49310909a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2110&q=80");
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: #f5f6f7;
  margin: auto;
}

.form {
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
   padding: 20px;
  max-width: 650px;
  min-width: 300px;
}

h1 {
  font-size: 50px;
  margin: 0;
  color: orange;
  padding: auto;
}


#description {
  font-style: italic;
  margin-bottom: 0;
}

h1, #description, footer {
  text-align: center;
}

fieldset {
  padding: 0;
    border: none;
}

fieldset:first-of-type {
  border-top: 3px solid; 
  margin: top; 7.5px
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid ;
}

p{
  margin: 0.5em 0;
  font-size: 18px
}

#number {
    margin-bottom: 0.5em;
}

footer {
  padding: 2px;
  font-size: 12px
}

footer>a {
  color: #dfdfe2;
  
}