body{
  background-image: url("https://images.unsplash.com/photo-1489648022186-8f49310909a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2110&q=80");
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  color: #f5f6f7;
  margin: auto;
}

.form {
  width: 60vw; 
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  padding: 20px;
  max-width: 40.625rem;
  min-width: 18.75rem;
}

label {
  display: block;
  margin: 1rem 0;
}

h1 {
  font-size: 3.125rem;
  color: orange;
}

#description {
  font-style: italic;
  margin-bottom: 0.5rem;
}

h1, #description, footer {
  text-align: center;
}

input, textarea, select {
  margin: 0.625rem 0 0 0;
  width: 100%;
  min-height: 1.25rem;
  font-family: 'Roboto', sans-serif;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
}


input[type="radio"], input[type="checkbox"] {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

fieldset {
  margin: auto 0;
  border: none;
  padding: 2rem 0;
}


/* fieldset:first-of-type {
  border-top: 3px solid; 
} */

fieldset:not(:last-of-type) {
  border-bottom: 3px solid ;
}

/* p{
  margin: 1rem 0 0.25rem 0;
  font-size: 18px
} */
/* 
#number {
    margin-bottom: 0.5em;
} */

footer {
  padding: 2px;
  font-size: 0.75rem;
}

footer>a {
  color: #dfdfe2;
}